<a href="javascript:;" (click)="toggleActive()" class="nav-link nav-toggle" *ngIf="menu">
  <i [ngClass]="menu.icon"></i>
  <span class="title">{{menu.name}}</span>
  <span class="selected"></span>
  <span class="arrow" [ngClass]="{'open': active}"></span>
</a>
<ul class="sub-menu" [ngStyle]="style()" *ngIf="menu">
  <li class="nav-item  " *ngFor="#it of menu.subitems">
    <a href="javascript:;" class="nav-link ">
      <i [ngClass]="it.icon"></i>
      <span class="title">{{it.name}}</span>
    </a>
  </li>
</ul>